//
//  Secrets.example.xcconfig
//  StockObserver
//
//  Created by Oleksandr Yevdokymov on 23.05.2026.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

RAPID_API_KEY = PUT_YOUR_RAPIDAPI_KEY_HERE
RAPID_API_HOST = apidojo-yahoo-finance-v1.p.rapidapi.com

// Meets requirement to use the RapidAPI endpoints without exposing personal key.
// Safe fallback so project builds even without Secrets.xcconfig
// If Secrets.xcconfig exists locally, then override the fallback
#include? "Secrets.xcconfig"
